@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
/* font-family: 'Montserrat', sans-serif; */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	height: 100vh;
	width: 100%;
	@include flexCenter();

	.chat-container {
		height: 80%;
		width: 70%;
		padding: 15px;
		background-color: #f0f0f0;
		display: flex;

		//box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
		box-shadow: rgba(115, 114, 121, 0.15) 0px 48px 100px 0px;

		border-radius: 30px;
		overflow: hidden;

		.left {
			height: 100%;
			width: 34%;
			padding: 15px;
			margin-right: 20px;
			background-color: #dedede;
			box-shadow: rgba(83, 83, 85, 0.1) 0px 0px 50px 0px;

			display: flex;
			flex-direction: column;
			justify-content: space-between;

			border-radius: 20px;

			.info {
				height: 87%;
				//background-color: lightblue;

				display: flex;
				flex-direction: column;
			}

			.title-1,
			.title-2 {
				font-weight: 600;
				font-size: 1.5rem;
			}

			.title-1 {
				margin-bottom: 10px;
			}

			.title-2 {
				margin: 30px 0 5px 0;
			}

			.room-container {
				margin-bottom: 20px;
			}

			#room-name {
				font-weight: 500;
			}

			#user-list {
				height: 100%;
				overflow-y: scroll;
				padding: 0 !important;
				border-radius: 10px;
				//background-color: lightcoral;

				-ms-overflow-style: none; /* IE and Edge */
				scrollbar-width: none; /* Firefox */

				&::-webkit-scrollbar {
					display: none;
				}

				.user-name {
					padding: 10px;
					margin: 10px 0;
					background-color: #000;
					color: #fff;
					font-weight: 400;
					border-radius: 10px;
					width: 100%;
				}
			}

			a {
				width: 100%;

				display: flex;
				justify-content: center;
				text-decoration: none;

				button {
					margin: 0 auto;
					padding: 12px 15px;
					background-color: #000;
					box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

					color: #fff;
					font-weight: 600;

					outline: none;
					border: none;
					border-radius: 10px;

					transition-duration: 200ms;

					&:hover {
						cursor: pointer;
					}

					&:active {
						transform: scale(0.9);
					}
				}
			}
		}

		.right {
			height: 100%;
			width: 65%;
			//padding: 20px;
			padding-right: 5px;

			display: flex;
			flex-direction: column;
			justify-content: space-between;

			#messages {
				height: 100%;
				padding-bottom: 25px;
				margin-bottom: 20px;

				border-radius: 20px;

				display: flex;
				flex-direction: column;

				overflow-y: scroll;

				-ms-overflow-style: none; /* IE and Edge */
				scrollbar-width: none; /* Firefox */

				&::-webkit-scrollbar {
					display: none;
				}

				.message-wrapper {
					width: 100%;
				}
				.message-left,
				.message-right {
					width: fit-content;
					//min-width: 130px;
					max-width: 400px;

					margin: 10px;
					padding: 10px 15px;

					background-color: #000;
					border-radius: 15px;

					box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
				}

				.message-right {
					float: right;
				}

				.user-name {
					color: rgba(255, 255, 255, 0.7);
					font-size: 0.8rem;
					margin-bottom: 5px;
					display: flex;
					justify-content: space-between;
				}

				.time {
					font-size: 0.75rem;
					margin-left: 20px;
				}

				.message {
					color: #fff;
					font-size: 0.9rem;
					font-weight: 600;

					word-wrap: break-word;
				}
			}

			form {
				display: flex;
				justify-content: space-between;

				input {
					width: 100%;
					padding: 12px 15px;
					box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

					font-size: 1rem;

					outline: none;
					border: none;
					border-radius: 10px;
				}

				button {
					margin-left: 20px;
					padding: 0 15px;
					background-color: #000;
					box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

					color: #fff;
					font-weight: 600;

					outline: none;
					border: none;
					border-radius: 10px;
				}
			}
		}
	}
}

.main-container {
	display: flex;
}

.mobile {
	display: none;
}

@media screen and (max-width: 900px) {
	main {
		display: none;
	}

	.mobile {
		display: unset;

		.container {
			height: 100vh;
			width: 100vw;
			padding: 20px;
			background-color: #272525;
			@include flexCenter();

			.txt {
				text-align: center;
				font-weight: 600;
				font-size: 2rem;
				color: #fff;
			}
		}
	}
}
